html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.sidebar-items:not(:last-child) {
    margin-bottom: 1.5em;
}

@media only screen and (max-width: 767px) {
    .sidebar-items {
        margin-bottom: 0 !important;
    }
}

.sidebar-items {
    color: gray;
    font-size: large;
}

.sidebar-items p {
    margin-left: 1em;
}

.sidebar-items:hover svg {
    color: #b57295;
}

.sidebar-items:hover p {
    color: #fff;
}

.active {
    color: #fff;
}

.active-icon {
    color: #b57295 !important;
}

/* vertical scrolbar */
.vertical-scroll::-webkit-scrollbar {
    width: 2em;
    height: 0.6em;
    cursor: pointer;
}

.vertical-scroll::-webkit-scrollbar-track {
    background: rgb(210, 214, 210);
    border-radius: 100vw;
    margin-block: 0.5em;
}

.vertical-scroll::-webkit-scrollbar-thumb {
    background: rgb(145, 146, 145);
    border-radius: 100vw;
}

.vertical-scroll::-webkit-scrollbar-thumb:hover {
    background: rgb(114, 116, 114);
}
/* horizontal scroolbar */
.horizontal-scroll::-webkit-scrollbar {
    height: 0.5em;
    width: 0.6em;
    cursor: pointer;
}

.horizontal-scroll::-webkit-scrollbar-track {
    background: rgb(210, 214, 210);
    border-radius: 100vw;
    margin-block: 0.5em;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
    background: rgb(145, 146, 145);
    border-radius: 100vw;
}

.horizontal-scroll::-webkit-scrollbar-thumb:hover {
    background: rgb(114, 116, 114);
}

/* scroolbar */
::-webkit-scrollbar {
    width: 0em;
}

::-webkit-scrollbar-track {
    background: rgba(210, 214, 210, 0.506);
}

::-webkit-scrollbar-thumb {
    background: rgb(145, 146, 145);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(114, 116, 114);
}
